<!DOCTYPE html>
<html dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="SPAX">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="favicon.png" type="image/png">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
